<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

<script type="text/javascript" class="init">
    $(document).ready(function() {
        $('#example')
        .DataTable({
            "paging": true,
            "processing": true,
            "serverSide": true,
            "ajax": "/handleContact",
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [1],
                    "visible": true,
                    "searchable": false
                },
                {
                    "targets": [2],
                    "visible": true,
                    "searchable": false
                },
                {
                    "targets": [3],
                    "visible": true,
                    "searchable": false
                },
                {
                    "targets": [4],
                    "visible": true,
                    "searchable": false
                },
                {
                    "targets": [5],
                    "visible": true,
                    "searchable": false,
                    "orderable" : false
                }
            ],
            "columns": [
                { "data": "UserID" },
                { "data": "Title" },
                { "data": "Name" },
                { "data": "Age" },
                { "data": "FavoriteFlag" },
                { "data": "ContactDetailCount" }
            ]
        });
    }); 
</script>

<header class="footer">
        <div class="header-box wraper">Expedia Exercise | <span class="logo">© Jim</span></div>
</header>